<h1><%= t('.events') %></h1>

<div class="buffer-bottom">
  <%= link_to t('.create_event'), new_event_path, class: "btn btn-success" %>
</div>

<div class="row buffer-both">
  <%= render partial: "events/event", collection: @events %>
</div>
